{
  "trailingComma": "none",
  "printWidth": 120,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "strict",
  "singleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "vueIndentScriptAndStyle": false
}
